:root {
    --color-main: #fff;
    --color-opposite: #000;
    --color-muted: #a6a6a6;
    --color-main-opacity: rgba(255, 255, 255, 0.3);
    --size-1: 8px;
    --size-2: 16px;
    --size-3: 24px;
    --size-4: 32px;
    --size-5: 48px;
    --size-6: 84px;
}

body {
    color: var(--color-main);
    font-size: 0.875rem;
    line-height: 1.142857142857143;
    font-family: Roboto;
    background-color: var(--color-opposite);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a {
    transition: color 0.1s;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: var(--size-3);
}

h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: var(--size-3);
}

h6 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: var(--size-2);
}

h6 small {
    font-weight: 400;
}


/*Custom work from Petrov Pavel*/


/* create template to main block */

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'tap links-block' 'content-area content-area';
}

.donation {
    width: 100%;
    grid-area: links-block;
}

.tap {
    grid-area: tap;
    top: var(--size-2);
    width: 100%;
}

.header-content {
    grid-area: content-area;
}


/* logo and links */

.row-link {
    align-items: center;
    display: grid;
    grid-template-columns: 134px min-content;
    grid-template-rows: 60px 1fr 1fr;
    grid-template-areas: 'logo lang' 'telegram telegram' 'paypal paypal';
}

.logo-link {
    display: inline-block;
    position: relative;
    width: 134px;
    height: 55px;
    grid-area: logo;
}

.logo-link img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.donate-telegram {
    font-size: 0.9rem;
    grid-area: telegram;
    margin-top: 25px;
}

.donate-paypal {
    font-size: 0.9rem;
    grid-area: paypal;
    margin-top: 21px;
}

.lang-select {
    align-content: center;
    font-size: 0.9rem;
    grid-area: lang;
}


/*end of header*/


/* components */

.container {
    position: relative;
}

.donation {
    font-size: 1rem;
    padding-top: var(--size-3);
    padding-bottom: var(--size-6);
}

.donation a {
    text-decoration: none;
}

.app-name {
    font-size: 18px;
    margin-bottom: var(--size-0);
    display: block;
}

.tap {
    min-width: 113px;
    margin-bottom: 100px;
    position: relative;
    /* top: -50px; */
    left: -15px;
}

.tap img {
    max-width: 100%;
    object-fit: cover;
}

.tap-tube {
    /* width: 69%; */
    min-width: 113px;
    position: relative;
}

.tap-drop {
    width: 8%;
    position: absolute;
    top: 81%;
    left: 59%;
    opacity: 1;
}

.tap-spray {
    width: 97%;
    position: absolute;
    top: 62%;
    left: 28%;
    opacity: 0;
}

.tap-stream {
    width: 28.5%;
    position: absolute;
    top: 71%;
    left: 65%;
    opacity: 0;
}

.tap.play .tap-drop {
    opacity: 0;
}

.tap.play .tap-spray,
.tap.play .tap-stream {
    opacity: 1;
}

.download-app {
    font-size: 18px;
    margin-bottom: 9px;
}

.app-links {
    display: flex;
    flex-direction: row;
    gap: var(--size-1);
}

.app-links a {
    display: inline-block;
}

.app-links a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    color: var(--color-opposite);
    text-decoration: none;
    background-color: var(--color-main);
}

.btn.control {
    padding: 0.6875rem 2.425rem;
}

.btn.control svg {
    vertical-align: -7px;
}

.btn.control strong {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 20px;
    display: block;
    display: none;
}

.btn.control .play path {
    fill: var(--color-opposite);
}

.btn.control.play .play path {
    fill: none;
}

.btn.control.play .pause rect {
    fill: var(--color-opposite);
}

.btn.control .pause-text {
    display: inline-block;
}

.bi-telegram {
    background-color: #000;
    color: #fff;
}

.bi-credit-card {
    background-color: #000;
    color: #fff;
}

.btn.control.play .pause-text {
    display: none;
}

.btn.control.play .play-text {
    display: inline-block;
}

.bi-telegram {
    background-color: #000;
    color: #fff;
}

.bi-credit-card {
    background-color: #000;
    color: #fff;
}

.player {
    font-size: 1rem;
    padding-bottom: var(--size-4);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.player-box {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 30%), rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: .25rem;
    overflow: hidden;
    transform: translateY(200%);
    transition: transform 0.3s;
}

.player.visible .player-box {
    transform: translateY(0);
}

.player .controls {
    height: 60px;
}

.player .btn.control {
    --color-opposite: var(--color-main);
    padding: 0 1.375rem;
    background: transparent;
    border-color: transparent;
    margin-left: var(--size-1);
}

.player .btn.control:focus {
    box-shadow: none;
}

.player h3 {
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}

.player .btn.text-icon {
    color: var(--color-main);
    padding: 1.375rem 2.8rem;
    background-color: var(--color-main-opacity);
    border-color: transparent;
    border-radius: 0;
}

.player .app-links .text-muted {
    margin-right: var(--size-3);
}

.player .break {
    height: 3px;
}


/* header block */

.header-content {}

.header-control {
    margin-top: var(--size-3);
    margin-bottom: var(--size-5);
}

.header .app-links {
    margin-bottom: var(--size-6);
}


/* main block */

.main {
    overflow: hidden;
}

.main section {
    margin-bottom: var(--size-6);
}

.main section p:last-of-type {
    margin-bottom: 0;
}

.main .cell:nth-child(2n) {
    padding-top: var(--size-6);
    margin-top: var(--size-5);
}

.main .app-links {
    margin-top: var(--size-3);
    margin-bottom: var(--size-5);
}

.main-help {
    margin-top: var(--size-4);
    padding-bottom: var(--size-6);
}


/* footer block */

.footer {
    margin-bottom: var(--size-6);
}

.footer>div {
    margin-bottom: var(--size-4);
}

.footer a {
    color: var(--color-muted);
    text-decoration: none;
}

.footer a:hover {
    color: var(--color-main);
}


/* helpers */

.text-muted {
    color: var(--color-muted);
}

.text-icon {
    display: inline-block;
}

.text-icon img {
    vertical-align: -7px;
}

.text-icon span {
    margin-left: var(--size-1);
}

.badge {
    font-size: 0.875rem;
    color: var(--color-opposite);
    padding: .15em .25em;
    background-color: var(--color-main);
}

.break {
    flex-basis: 100%;
    height: 0;
}


/* media */


/*Middle statement for mobile devices*/

@media (min-width: 374px) {
    .tap .tap-spray {
        top: 82%;
    }
    .tap .tap-stream {
        top: 82%;
    }
    .tap .tap-spray img {
        height: 50%;
    }
}


/* Medium devices (tablets, 767px and up) */

@media (min-width: 767px) {
    h1 {
        font-size: 48px;
        line-height: 60px;
    }
    h2 {
        font-size: 36px;
        line-height: 44px;
    }
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .donation {
        width: 100%;
        padding-top: var(--size-2);
        padding-bottom: 0;
    }
    .donation br {
        display: none;
    }
    .tap {
        width: 243px;
        margin-bottom: 0;
        top: 0;
    }
    .tap .tap-drop {
        top: 50%;
    }
    .tap .tap-tube {
        margin-right: 0;
    }
    .tap .tap-spray {
        top: 36%;
        width: 87%;
        left: 33%;
    }
    .tap .tap-stream {
        top: 36%;
    }
    .app-name {
        margin-bottom: var(--size-0);
    }
    .header {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 160px max-content max-content;
        grid-template-areas: 'links-block links-block' 'tap content-area' 'tap content-area';
    }
    .row-link {
        grid-template-columns: 134px 177px 177px 0.5fr;
        grid-template-rows: 60px;
        grid-template-areas: 'logo telegram paypal lang';
        justify-content: space-between;
        width: 100%;
    }
    .donate-telegram,
    .donate-paypal {
        margin-top: 0;
    }
    .lang-select {
        display: flex;
        justify-self: end;
    }
    .header-control {
        margin-top: var(--size-4);
        margin-bottom: var(--size-6);
    }
    .main .cell {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
    .main-help {
        padding-bottom: var(--size-5);
    }
    .main .app-links {
        margin-bottom: 0;
    }
    .main .app-links img {
        height: 36px;
    }
    .footer {
        margin-bottom: calc(160px + var(--size-6));
    }
    .footer>div {
        margin-bottom: 0;
    }
    .player {
        padding-bottom: var(--size-5);
    }
    .player h3 {
        font-size: 22px;
    }
    .player .controls {
        height: 80px;
    }
    .player .btn.control {
        margin-left: var(--size-2);
    }
    .player .btn.text-icon {
        padding: 1.625rem 2.8rem;
    }
    .player .app-links {
        margin-left: 38px;
    }
    /*Custom work from Petrov Pavel*/
}


/*Middle statement for tablets. Need to good render of tap and water*/

@media (min-width: 1023px) {
    .tap .tap-drop {
        top: 56%;
    }
    .tap .tap-spray {
        top: 40%;
    }
    .tap .tap-stream {
        top: 43%;
    }
    .main {
        padding-top: var(--size-5);
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 1025px) {
    .container {
        max-width: 1240px;
        padding-left: 420px;
        padding-right: 100px;
        /* position: relative; */
    }
    .tap {
        /* width: 424px; */
        position: absolute;
        top: var(--size-2);
        /* left: 0; */
    }
    .tap .tap-drop {
        top: 80%;
    }
    .tap .tap-spray {
        top: 80%;
    }
    .tap .tap-stream {
        top: 82%;
    }
    .donation {
        flex-basis: 100%;
        align-self: flex-start;
        text-align: right;
        padding-top: var(--size-4);
        padding-bottom: 0;
    }
    .donation br {
        display: none;
    }
    .header {
        padding-bottom: var(--size-5);
        grid-template-columns: 1fr;
    }
    .header-content {
        padding-left: 0;
        margin-top: var(--size-4);
        margin-bottom: 0;
    }
    .btn:hover {
        background-color: var(--color-muted);
    }
    .main {
        padding-top: 0;
    }
    .main .app-links img {
        height: 40px;
    }
    .footer {
        margin-bottom: calc(72px + var(--size-6));
    }
    .player {
        right: 15px;
        left: 15px;
    }
    .player .container {
        padding: 0;
    }
    .player .btn.text-icon {
        padding: 1.375rem 2.8rem;
    }
    .player .controls {
        height: auto;
    }
    /*Custom work from Petrov Pavel*/
}


/* fix line break in the player */

@media (min-width: 1180px) {
    .player .break {
        display: none;
    }
}