---
title: 'Mute It – toilet sound helper'
layout: 'layouts/base.html'
---
	<div id="content">
		<div class="container">
			
			{% include "partials/header.html" %}

			<main class="main">
				<section class="soon">
					<h2 data-textblock="updates-text"></h2>
					<div class="soon__products">
							<article class="soon_product">
								
							</article>
					</div>
				</section>
				<section>
					<h2 data-textblock="text-H2-main-feature"></h2>

					<div class="row">
						<div class="col-6 col-md-3 cell">
							<img src="static/img/img_1.svg" alt="illustration of flying poop">
							<p data-textblock="text-H1-main-text-on-the-page"></p>
						</div>

						<div class="col-6 col-md-3 cell">
							<img src="static/img/img_2.svg" alt="">
							<p data-textblock="text-hand-wash-text"></p>
						</div>

						<div class="col-6 col-md-3 cell">
							<img src="static/img/img_3.svg" alt="">
							<p data-textblock="text-mom-text"></p>
						</div>

						<div class="col-6 col-md-3 cell">
							<img src="static/img/img_4.svg" alt="">
							<p data-textblock="text-tap-text"></p>
						</div>
					</div>
				</section>
				<section>
					<h2 data-textblock="text-H2-second-feature"></h2>

					<div class="row">
						<div class="col-6 col-md-12 cell">
							<img src="static/img/img_5.svg" alt="">

							<div class="row">
								<div class="col-md-3">
									<p data-textblock="text-relax-text"></p>
								</div>
							</div>
						</div>

						<div class="col-6 col-md-3 offset-md-3 cell">
							<img src="static/img/img_6.svg" alt="">
							<p data-textblock="text-happy-text"></p>
						</div>

						<div class="col-6 col-md-3 cell">
							<img src="static/img/img_7.svg" alt="">
							<p data-textblock="text-mobility-text"></p>
						</div>

						<div class="col-6 col-md-3 cell">
							<img src="static/img/img_8.svg" alt="">
							<p data-textblock="text-chilling-text"></p>
						</div>
					</div>
				</section>

				<section>
					<h2 data-textblock="text-section-what-is-next"></h2>

					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-6">
									<h6>В Mute It</h6>
									<p data-textblock="text-updates-description-text"></p>
								</div>

								<div class="col-6">
									<h6>
										В Mute it <span class="badge">Pro</span><br>
										<small class="text-muted" data-textblock="text-in-process-text"></small>
									</h6>
									<p data-textblock="text-ecosystem-description-text"></p>
								</div>

								<div class="col main-help">
									<h3 data-textblock="text-H3-donating-text"></h3>

									<div class="row">
										<div class="col-6">
											<a href="https://paypal.me/olianayda" target="_blank" class="text-icon">
												<img src="static/img/icon_money.svg" alt=""><span data-textblock="text-H3-donating-text"></span>
											</a>
										</div>

										<div class="col-6">
											<a href="https://t.me/muteitapp" target="_blank" class="text-icon">
												<img src="static/img/icon_volunteeer.svg" alt="Перейти в чат telegram где общаются про социально значимый проект Muteitapp"><span data-textblock="url-volunteer-text"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-5 offset-md-1">
							<strong data-textblock="text-download-text"></strong>

							<div class="app-links">
								<a href="https://t.me/muteitapp" target="_blank">
									<img src="static/img/apple_store.png" alt="">
								</a>

								<a href="https://t.me/muteitapp" target="_blank">
									<img src="static/img/google_play.png" alt="">
								</a>
							</div>
						</div>
					</div>
				</section>
			</main>

			{% include "partials/footer.html" %}
		</div>

		<div class="player d-none">
			<div class="container">
				<div class="player-box">
					<div class="row">
						<div class="col-lg-5 d-flex align-items-center controls">
							<a href="#" class="btn control">
								<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g class="pause">
										<rect width="8" height="23" />
										<rect x="14" width="8" height="23" />
									</g>
									<g class="play">
										<path d="M20 12L0.499999 23.2583L0.5 0.741669L20 12Z" />
									</g>
								</svg>
							</a>

							<h3 data-textblock="text-noise-text"></h3>
						</div>

						<div class="col-lg-7 d-none d-md-block">
							<div class="d-flex justify-content-between">
								<div class="d-flex align-items-center">
									<div class="app-links">
										<span data-textblock="text-abordable-picture" class="text-muted"></span>
										<div class="break"></div>

										<a href="https://t.me/muteitapp" target="_blank">
											<img src="static/img/apple_store.png" alt="">
										</a>

										<a href="https://t.me/muteitapp" target="_blank">
											<img src="static/img/google_play.png" alt="">
										</a>
									</div>
								</div>

								<a href="https://www.tinkoff.ru/sl/59PjxlhKLLY" target="_blank" class="btn text-icon">
									<img src="static/img/icon_money.svg" alt="Переходите на сайт эквайера Tinkoff и ">
									<span data-textblock="media-download-GooglePlay-icon"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
