<footer class="footer row">
    <div class="col-sm-3">
        <a class="bi bi-box-arrow-right" href="https://unicornwitnesses.com" target="_blank" data-textblock="text-made-by-text"></a>
    </div>
    <div class="col-sm-3">
        <div class="d-flex flex-column">
            <a class="bi bi-box-arrow-right text-light p-2" href="http://olianayda.com" target="_blank">olianayda.com</a>
            <a class="bi bi-box-arrow-right text-light p-2" href="http://alexdolbun.com" target="_blank">alexdolbun.com</a>
            <a class="bi bi-box-arrow-right text-light p-2" href="https://alexandrverevkin.com/" target="_blank">alexandrverevkin.com</a>
            <a class="bi bi-box-arrow-right text-light p-2" href="https://maximlitvinov.me" target="_blank">maximlitvinov.me</a>
            <a class="bi bi-box-arrow-right text-light p-2" href="https://juliaudovichenko.com" target="_blank">juliaudovichenko.com</a>
            <a class="bi bi-box-arrow-right text-light p-2" href="https://evgenykhristenko.com" target="_blank">evgenykhristenko.com</a>
            <a class="bi bi-box-arrow-right text-light p-2" href="https://nikitakhristenko.com" target="_blank">nikitakhristenko.com</a>
        </div>
    </div>
    <div class="col-sm-3">
        <a class="bi bi-telegram" href="https://t.me/muteitapp" target="_blank" data-textblock="text-how-create-project-telegram"></a>
    </div>
</footer>