<header class="header">
    <div class="donation cell">
        <div class="row-link">
            <a class="logo-link">
                <img src="static/img/logo-muteit-sound-helper-new.svg" alt="${t('media-logo-muteit-sound-helper')}">
            </a>
            <div class="donate-telegram">
                <a href="https://t.me/muteitapp" target="_blank" class="bi bi-telegram">
                    <i class="fab fa-telegram-plane mr-1"></i>${t('cta-go-to-chat-telegram')}
                </a>
            </div>
            <div class="donate-paypal">
                <a href="https://paypal.me/olianayda" target="_blank" class="bi bi-credit-card"><i
                            class="fab fa-paypal mr-1"></i>${t('cta-support-project')}
                    </a>
            </div>
            <div class="lang-select">
                <select data-js-select="change-lang" class="change-lang mt-2" style="color: #fff; background: #000; border: solid #fff 2px ; border-radius: 10px;">
                    <option value="en">EN</option>
                    <option value="ru">RU</option>`
                </select>
            </div>
        </div>
    </div>
    <div class="tap cell">
        <div class="tap-tube">
            <img src="static/img/tap.svg" alt="">
        </div>
        <div class="tap-drop">
            <img src="static/img/drop.svg" alt="">
        </div>
        <div class="tap-spray">
            <img src="static/img/spray.png" alt="">
        </div>
        <div class="tap-stream">
            <img src="static/img/stream.png" alt="">
        </div>
    </div>


    <div class="container header-content">
        <div class="row">
            <div class="col-md-12">
                <span class="app-name" data-textblock="text-muteit-helper"></span>
                <h1 data-textblock="text-H1-main-text-on-the-page"></h1>
            </div>
        </div>


        <div class="header-control">
            <a href="#" class="btn control">
                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g class="pause">
                        <rect width="8" height="23" />
                        <rect x="14" width="8" height="23" />
                    </g>
                    <g class="play">
                        <path d="M20 12L0.499999 23.2583L0.5 0.741669L20 12Z" />
                    </g>
                </svg>
                <strong data-textblock="cta-turn-off" class="play-text"></strong>
                <strong data-textblock="cta-turn-on" class="pause-text"></strong>
            </a>
        </div>

        <div class="download-app">
            <span data-textblock="text-download-app"></span>
        </div>

        <div class="app-links mt-3">
            <a href="https://t.me/muteitapp" target="_blank">
                <img src="static/img/apple_store.png" alt="download from google play mute it app">
            </a>

            <a href="https://t.me/muteitapp" target="_blank">
                <img src="static/img/google_play.png" alt="download from app store mute it app">
            </a>
        </div>
    </div>
</header>